.card{
    background-color: #d3efdf;
    width:300px;
    height:400px;
    margin: 20px;
  }
  
  .card p{
    font-size:96px;
    text-align: center;
    transform: uppercase;
  }
  
  .card button{
    background-color: brown;
    color:#ffffff;
    padding:4px;
    border-radius: 8px;
    margin-left:37%;
    margin-right:auto;
  }
  #table{
    font-size: 14px;
  }